html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
    font-family: 'Inter', 'Noto Sans Thai', sans-serif;
}

main {
    padding-top: 190px;
}


*::before,
*::after {
    box-sizing: border-box;
}

/* ==========================
   device NAV
=========================== */

.main-nav {
    position: fixed;
    top: 140px;
    left: 0;
    width: 100%;
    z-index: 9998;
    background: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.nav-inner {
    max-width: 1200px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.nav-device {
    list-style: none;
    margin: 0;
    padding: 0 40px;
    display: flex;
    gap: 70px;
    align-items: center;
}

.nav-device li {
    white-space: nowrap;
    position: relative;
}

.nav-device a {
    text-decoration: none;
    color: #111;
    font-size: 22px;
    font-weight: 500;
    transition: color 0.2s ease;
}

.nav-device a:hover,
.nav-device a.active {
    color: #532274;
}


/* ==========================
   device MAP
=========================== */
#device-map {
  width: 100%;
  height: 600px;      /* ต้องกำหนดความสูง แผนที่ถึงจะเห็น */
  border-radius: 8px;
  border: 1px solid #ddd;
}

